{% extends "drive/index.html" %}
{% block title %}
    Liste commande
{% endblock %}
{% block content %}
<div class="content">
        <h1>Liste des commandes</h1>
    <table>
        {% for l in liste %}
    <tr class="tableau"><td>{{l}}</td>
        <td><a href="/delete_listecommande/{{l.id}}">Supprimer</a></td>
        <td><a href="/update_listecommande/{{l.id}}">Update</a></td>
        <td><a href="/affiche_listecommande/{{l.id}}">Affiche</a></td>
        {%endfor%}
    </tr>
</div>
{% endblock %}