{% extends "drive/index.html" %}
{% block title %}
    Commande Client
{% endblock %}
{% block content %}
<div class="content">
        <h1>Commandes</h1>
    <table>
        {% for l in liste %}
        <tr class="tableau"><td>{{l}}</td>
        <td><a href="/delete_commande/{{l.id}}">Supprimer</a></td>
        <td><a href="/update_commande/{{l.id}}">Update</a></td>
        <td><a href="/affiche_commande/{{l.id}}">Affiche</a></td>
        {%endfor%}
        </tr>
    </table>
</div>
{% endblock %}