{% extends "drive/index.html" %}
{% block title %}
    Liste des fabricants
{% endblock %}
{% block content %}
<div class="content">
        <h1>Liste des Catégories</h1>
        <a href="/ajout_categorie">Ajouter une catégorie</a>
        <ol>
            {% for l in liste %}
                <li>{{l}} <a href="/affiche_categorie/{{l.id}}">Afficher</a> | <a href="/update_categorie/{{l.id}}">Mise à jour</a> | <a href="/delete_categorie/{{l.id}}">Supprimer</a> </li>
            {% endfor %}
        </ol>
</div>
{% endblock %}