* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10%;
  background-color: #000000;
}

.logo {
  margin-right: auto;
}

.nav_links {
  list-style: none;
  display: flex;
}

.nav_links a,
.cta,
.overlay__content a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #edf0f1;
  text-decoration: none;
}

.nav_links li {
  padding: 0px 20px;
}


.cta {
  margin-left: 20px;
  padding: 9px 25px;
  background-color: rgba(0, 136, 169, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.cta:hover {
  background-color: rgba(0, 136, 169, 0.8);
}

/* Mobile Nav */

.menu {
  display: none;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: #000000;
  overflow-x: hidden;
  transition: all 0.5s ease 0s;
}

.overlay--active {
  width: 100%;
}

.overlay_content {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overlay a {
  padding: 15px;
  font-size: 36px;
  display: block;
  transition: all 0.3s ease 0s;
  color:white;
  text-decoration:none;
}

.overlay a:hover,
.overlay a:focus {
  color: #0088a9;
}
.overlay .close {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color: #edf0f1;
  cursor: pointer;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .close {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

@media only screen and (max-width: 800px) {
  .nav_links,
  .cta {
    display: none;
  }
  .menu {
    display: initial;
  }
}
.frontpage{
    display:flex;
    justify-content:center;
    height:70vh;
}

.content {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-height:75vh;
  height: auto;
  align-items: center;
}
label, form{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 10px;
}
input{
    display: flex;
    border-radius:5px;
}
li{
    list-style-type: none;
    padding-bottom: 20px;
    text-align: -webkit-center;
}
h1{
    font-size:50px;
    padding-top:20px;
    padding-bottom:20px;
}
form{
    border: solid 1px;
    padding: 20px 20px 20px 20px;
}

#wrap {
        width: 100%;
        height: 50px;
        margin: 0;
        z-index: 99;
      }
      .navbar {
        height: 50px;
        position: absolute;
        margin-left:55vh;
      }
      .navbar li {
        height: auto;
        width: 135.8px;
        float: left;
        text-align: center;
        list-style: none;
        font: normal bold 13px/1em Arial, Verdana, Helvetica;
        padding: 0;
        margin: 0;
        background-color: #444444;
      }
      .navbar a {
        padding: 18px 0;
        text-decoration: none;
        color: white;
        display: block;
      }

      .navbar li ul {
        display: none;
        height: auto;
        margin: 0;
        padding: 0;
      }
      .navbar li:hover ul {
        display: block;
      }

      .navbar li ul li a:hover {
        background-color: #a3a1a1;
      }

#wrap {
        width: 100%;
        height: 50px;
        margin: 0;
        z-index: 99;
      }

      .navbar li {
        height: auto;
        width: 135.8px;
        float: left;
        text-align: center;
        list-style: none;
        font: normal bold 13px/1em Arial, Verdana, Helvetica;
        padding: 0;
        margin: 0;
        background-color: #444444;
      }
      .navbar a {
        padding: 18px 0;
        text-decoration: none;
        color: white;
        display: block;
      }

      .navbar li ul {
        display: none;
        height: auto;
        margin: 0;
        padding: 0;
      }
      .navbar li:hover ul {
        display: block;
      }

      .navbar li ul li a:hover {
        background-color: #a3a1a1;
      }

navbar{
    background:#000000;
}